<section id="rsm-auth-section" ng-controller="RsmAuthCtrl as authCtrl">
    <!-- raw element -->
    <h1 class="rsm-text-center">Redstone Print and Mail Inventory Application</h1>
    <h4 class="rsm-text-center">Authentication & Authorization</h4>
    <!-- login error notifier -->
    <p ng-if="authCtrl.loginError" class="rsm-text-center" style="color: red">
        <b>Wrong <i>username</i> or <i>password</i>, Please try again. {{authCtrl.loginAttempts}} Login Attempts</b>
    </p>

    <form ng-submit="authCtrl.rsmLogin()">
        <!-- layout container -->
        <div layout-gt-xs="row" layout-align-xs="center center" layout-align-gt-xs="center center" layout-padding>
            <!--<div layout="row" flex></div>-->
            <md-input-container class="md-icon-float md-block" flex="40">
                <!-- Use floating label instead of placeholder -->
                <label>Username</label>
                <!--<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>-->
                <input ng-model="authCtrl.userDataModel.username" type="text">
            </md-input-container>

            <!-- md-no-float -->
            <md-input-container class="md-block" flex="40">
                <!--<md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>-->
                <input ng-model="authCtrl.userDataModel.qqq" type="password" placeholder="Password">
            </md-input-container>
        </div>
        <md-button type="submit" class="md-raised md-warn">Login</md-button>
    </form>
</section>