<section id="rsm-auth-section">
    <div layout="column" layout-align="center center">
        <h1>Authentication & Authorization</h1>

        <md-input-container class="md-icon-float md-block" flex="70">
            <!-- Use floating label instead of placeholder -->
            <label>Name</label>
            <!--<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>-->
            <input ng-model="user.name" type="text">
        </md-input-container>

        <md-input-container md-no-float="" class="md-block" flex="70">
            <!--<md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>-->
            <input ng-model="user.phone" type="text" placeholder="Password">
        </md-input-container>
    </div>
</section>