<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Envelopes</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="cancel" aria-label="Close dialog"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <p style="margin-top: 0;"><i><b>Hover over image w/mouse to enlarge it.</b></i></p>
                <div class="rsm-text-center">
                    <div ng-repeat="envelope in createPickEnvelopeImages" class="rsm-dialog-images">
                        <div ng-click="createPickImageSelected(envelope.tid)">
                            <img ng-src="{{envelope.url}}" alt="image" width="200px" class="rsm-scale-hover">
                            <p><small>{{envelope.description}}</small> <b>{{envelope.permit}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <!-- buttons at bottom of dialog
        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="createPickImageSelected('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')">
                Useful
            </md-button>
        </md-dialog-actions>
        -->
    </form>
</md-dialog>