<section ng-controller="CoreCtrl" layout="column" ng-cloak layout-padding layout-margin class="rsm-zero-top">
    <!-- the info box at the top --
     <div style="font-size: 12px;padding:5px;margin:0; margin-bottom:8px; line-height:18px; border: 1px solid #c4c4c4;background: white;">
        <ng-md-icon icon="info" size="16" style="float:left;fill:#479BFF;margin-right: 5px;"></ng-md-icon>
        <span><i>Search</i> feature works with non-ajax/non-promise data. You have the possibility to change the dataset in your table which then immediately respond on that change.</span>
    </div>
     -->

    <div layout="row" layout-align="center center" class="rsm-zero-top">
        <img src="../images/redstone.png" alt="Redstone Print and Mail" height="70px">
        <h1 class="rsm-text-center rsm-pick-ticket-title">Pick Tickets</h1>
    </div>

    <md-card style="margin:0">
        <md-input-container style="margin:15px;">
            <label>Filter by search</label>
            <input type="text" ng-model="filterName">
        </md-input-container>

        <div ng-hide="true">
            {{(filteredItems = (ccMockData | filter: filterName))}}
        </div>
    </md-card>

    <mdt-table mdt-row="{'data': filteredItems, 'table-row-id-key': 'id',
                     'column-keys': [
                        'mark_complete',
                        'coordinator_name', 'due_date', 'rquantity', 'paper_description',
                        'envelope_description', 'paper_image_url', 'envelope_image_url'
                     ]}">

        <!-- table rows -->
        <mdt-header-row>
            <mdt-column align-rule="left">Mark Complete</mdt-column>
            <mdt-column align-rule="left">Coordinator Name</mdt-column>
            <mdt-column align-rule="right">Due Date</mdt-column>
            <mdt-column align-rule="right">Quantity</mdt-column>
            <mdt-column align-rule="left">Paper Description</mdt-column>
            <mdt-column align-rule="left">Envelope Description</mdt-column>
            <mdt-column align-rule="center">Paper Image</mdt-column>
            <mdt-column align-rule="center">Envelope Image</mdt-column>
        </mdt-header-row>

        <mdt-custom-cell column-key="mark_complete">
            <!-- md-button is breaking due to an ng-transclude error --
            <md-button class="md-fab md-primary" aria-label="done">
                <ng-md-icon icon="done"></ng-md-icon>
            </md-button>
            -->
            <div class="rsm-round-btn" ng-click="clientScope.ccMarkComplete(this)">
                <ng-md-icon icon="done" size="32" style="fill: #FFFFFF;position: relative;top: 11px;"></ng-md-icon>
            </div>
        </mdt-custom-cell>

        <mdt-custom-cell column-key="paper_image_url">
            <div class="rsm-crop">
                <img ng-src="{{value}}" alt="{{clientScope.getNutritionWithId(rowId).name}}"/>
            </div>
        </mdt-custom-cell>

        <mdt-custom-cell column-key="envelope_image_url">
            <div class="rsm-crop">
                <img ng-src="{{value}}" alt="{{clientScope.getNutritionWithId(rowId).name}}"/>
            </div>
        </mdt-custom-cell>
    </mdt-table>
</section>
