<!-- ul for 'user list' -->
<section ng-controller="UserController as ul">
    <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="share"></md-icon>
    </md-button>

    <div flex layout="row">
        <md-sidenav ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
                    class="md-whiteframe-z2" style="height: 100vh">
            <md-list>
                <md-list-item ng-repeat="it in ul.users">
                    <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                        <!--<md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>-->
                        <ng-md-icon class="rsm-sidenav-icon" icon="content_paste" size="64"></ng-md-icon>
                        &nbsp; &nbsp; <span class="rsm-coordinator-sidenav">{{it.name}}</span>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>

        <md-content flex id="content">
            <!-- user icon -->
            <!--<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>-->

            <div ng-switch="ul.selected.name">
                <div ng-switch-when="Heather">
                    <h4>Heather tools</h4>
                    <iframe src="http://192.168.7.17/ninja/_elevate-recoveries/" frameborder="0" class="rsm-iframe-100"></iframe>
                </div>

                <div ng-switch-when="Richard"> <!-- class="rsm-user-switch"  -->
                    <h1>switch 2</h1>
                    <iframe src="http://192.168.7.17/ninja/_richard/" frameborder="0" width="100%" height="800"></iframe>
                    <h4>richard localhost tools</h4>
                </div>

                <div ng-switch-when="Lindsey">
                    <h1>3rd switch</h1>
                    <iframe src="http://192.168.7.17/dmv/" frameborder="0" width="100%" height="500px"></iframe>
                    <h4>tools for lindsey :)</h4>
                </div>

                <div ng-switch-default>
                    <h1>default switch</h1>
                </div>
            </div>

            <!-- button in top right corner -->
            <md-button class="share" md-no-ink ng-click="ul.makeContact(ul.selected)"
                       aria-label="Share with {{ ul.selected.name }}">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
        </md-content>
    </div>
</section>