<section class="rsm-p12px" style="padding-top: 0;">

    <!--  layout="column"  -->
    <div ng-controller="InventoryCtrl as ctrl" ng-cloak class="rsm-w70pct rsm-margin-auto">
        <h2>Add Inventory</h2>

        <form ng-submit="$event.preventDefault()">
            <!-- description -->
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Stock Description</label>
                    <input type="text" ng-model="ctrl.stockDescription">
                </md-input-container>
            </div>

            <!-- stock type & job type  -->
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Stock Type e.g.</label>
                    <input type="text" ng-model="ctrl.stockType">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Job Type</label>
                    <input type="text" ng-model="ctrl.jobType">
                </md-input-container>
            </div>

            <!-- paper stock & warehouse location -->
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Paper Stock</label>
                    <input type="text" ng-model="ctrl.paperStock">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Warehouse Location</label>
                    <input type="text" ng-model="ctrl.warehouseLocation">
                </md-input-container>
            </div>
        </form>

        <!-- + button -->
        <div layout-gt-xs="row" layout-align="start center">
            <md-button class="md-fab md-primary rsm-btn32-icon" aria-label="Add Inventory Item"
                       ng-click="ctrl.addInventoryToDb()">
                <!-- style="fill: white" -->
                <ng-md-icon icon="add" size="32"></ng-md-icon>
            </md-button>
            <p><b>{{"Total Inventory Added: "+ctrl.totalInventoryAdded}}</b></p>
        </div>

    </div> <!-- END OF: ng-controller = InventoryCtrl -->

    <!-- TODO: figure out how to dynamically add as many "add inventory" forms as needed, rather than having to do 1 at a time -->

</section> <!-- END OF: main section for inventory view -->