html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* Toolbar area */

.menu {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    width: 36px;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}

/* Sidenav area */

md-list-item > button {
    width: 100%;
    text-align: left !important;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 0px 0px 8px 0px;
}

/* Primary content area */

#content {
    overflow: hidden;
}

#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}

#content .md-button.share {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 25px;
}

#content md-icon.avatar {
    margin-top: 10px;
}

#content .md-button.share > md-icon {
    fill: black;
    width: 36px;
    height: 36px;
}

md-button.menuBtn > md-icon {
    fill: white;
    width: 24px;
    height: 24px;
}

#content .md-button.share:active > md-icon {
    background-color: #dadada;
    border-radius: 75%;
    padding: 4px;
    transition: all 100ms ease-out 30ms;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

/* Utils */

.content-wrapper {
    position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
}

.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);
}

md-bottom-sheet md-icon {
    margin-right: 20px;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}

.rsm-ng-view {
    margin: auto;
}

.rsm-toolbar-h1 {
    padding: 8px;
}

.rsm-p12px {
    padding: 12px;
}

.rsm-w70pct {
    width: 70%;
}

.rsm-margin-auto {
    margin: auto;
}

a.rsm-no-decor {
    text-decoration: none !important;
    color: inherit !important;
}

a.rsm-no-decor:focus {
    text-decoration: none;
}

a.rsm-no-decor:visited {
    text-decoration: none;
}

button.rsm-btn32-icon {
    padding-top: 11px;
    padding-left: 8px;
}

#rsm-main-nav {
    color: whitesmoke;
}

.rsm-text-center {
    text-align: center !important;
}

.rsm-coordinator-sidenav {
    position: absolute;
    top: 18px;
}

ng-md-icon.rsm-sidenav-icon > svg {
    position: relative;
    top: 7px;
}

.rsm-user-switch {
    height: 400px;
    width: 400px;
}

.rsm-iframe-100 {
    width: 100%;
    height: 700px;
}

.rsm-crop {
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.rsm-crop img {
    height: 70px;
}

.rsm-pick-ticket-title {
    font-size: 44px;
    margin-left: 24px;
}

.rsm-zero-top {
    margin-top: 0 !important;
    padding-top: 0 !important;
}


/**/